.wrapper {
    width: 700px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.octopus {
    width: 560px;
    height: 350px;
    position: relative;
    z-index: -2;
    margin: 0 auto;
}

.head {
    width: 300px;
    height: 350px;
    background-color: #188FB2;
    position: absolute;
    right: 0;
    border-radius: 0 200px 200px 0;
}

.eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 90px;
    left: 200px;
}

.apple {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 10px;
    left: 10px;
}

.skills {
    position: absolute;
    right: 300px;
    width: 300px;
}

.skill {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #188FB2;
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 10px;
    margin-bottom: 2px;
    margin-left: auto;
    position: relative;
}

.skill::before {
    content: "";
    display: block;
    width: 180px;
    height: 30px;
    background-color: transparent;
    box-sizing: border-box;
    border: 3px solid #188FB2;
    border-radius: 15px 0 0 15px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.skill-html {
    width: 80%;
}

.skill-html::before {
    left: -20px;
}

.skill-css {
    width: 70%;
}

.skill-css::before {
    left: -20px;
}

.skill-programming {
    width: 30%;
}

.skill-programming::before {
    left: -110px;
}

.skill-soft {
    width: 50%;
}

.skill-soft::before {
    left: -30px;
}

.skill-typography {
    width: 55%;
}

.skill-typography::before {
    left: -50px;
}

.skill-attention {
    width: 30%;
}

.skill-attention::before {
    left: -50px;
}

.skill-courage {
    width: 40%;
}

.skill-courage::before {
    left: -10px;
}

.skill-orderliness {
    width: 40%;
}

.skill-orderliness::before {
    left: -10px;
}

.skill-future {
    width: 20%;
}

.annotation {
    width: 700px;
    text-align: center;
    padding-top: 30px;
    
}

.label-1, .label-2 {
    display: inline-block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: 3px solid #188FB2;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.label-2 {
    background-color: #188FB2;
    color: white;
    margin-left: -4px;
}

.annotation p {
    text-align: justify;
}
